<html>
  <head>
    <title>Your Results</title>
  </head>
  <center>
      {% autoescape None %}
      <div style="width:80%;word-wrap:break-word">
          {{ message }}
          <h3> Your sequence: </h3>
          <br>
          <p>
          {{ highlighted_markup }}
          </p>
          <br>
      </div>
      <form method="GET" action="/sequenceprefs">
          <h1><u>Residues to mutate</u></h1>
          {% for i,mutant in enumerate(mutants) %}
          <li style="color: {{ 'black' if validity[i] else 'red' }}">Residue number:
          <input name="mutant" type="text" size=5 value={{ mutant }}>
              <input type="submit" value="-" name="{{ i }}"/>
          </li>
          {% end %}
          <br>
      <input type="submit" name="add" value="+">
      <input type="submit" formmethod="POST" formaction="/sequenceprefs"/>
      <input type="hidden" name="sessionid" type="text" value="{{ sessionid }}"/>
      </form>

  </center>
